OUTPUT_DIR: ./outputs/phys
DATA_ROOT: 'data/dynamics/PHYRE_1fps_p20n80/'
DATASET_ABS: 'PHYRE'
SOLVER:
  BASE_LR: 2.0e-4  # single GPU LR
  WEIGHT_DECAY: 0.0
  SCHEDULER: 'cosine'
  MAX_ITERS: 3000000
  VAL_INTERVAL: 300000
  BATCH_SIZE: 40 # single GPU Batch Size
INPUT:
  PRELOAD_TO_MEMORY: False
  PHYRE_USE_EMBEDDING: False
  IMAGE_CHANNEL: 3
RIN:
  BACKBONE: 'hourglass_bn'
  ARCH: 'rpcin'
  VE_FEAT_DIM: 256
  IN_FEAT_DIM: 256
  # prediction setting:
  INPUT_SIZE: 1
  PRED_SIZE_TRAIN: 5
  PRED_SIZE_TEST: 10
  # input setting:
  INPUT_HEIGHT: 128
  INPUT_WIDTH: 128
  NUM_OBJS: 6
  # data augmentation
  HORIZONTAL_FLIP: True
  VERTICAL_FLIP: False
  # loss weight
  POSITION_LOSS_WEIGHT: 1
  # ----- RoIPooling Setting
  ROI_POOL_SIZE: 5
  ROI_POOL_SAMPLE_R: 2
  # ----- mask prediction
  MASK_LOSS_WEIGHT: 0.003
  MASK_SIZE: 21
  # ----- sequence cls
  SEQ_CLS_LOSS_WEIGHT: 0.0
  # ----- Architecture
  N_EXTRA_ROI_F: 2
  N_EXTRA_PRED_F: 0
  N_EXTRA_SELFD_F: 0
  N_EXTRA_RELD_F: 0
  N_EXTRA_AFFECTOR_F: 0
  N_EXTRA_AGGREGATOR_F: 0
  EXTRA_F_KERNEL: 3
  EXTRA_F_PADDING: 1
  IMAGE_EXT: '.npy'
  # ----- COOR FEATURE
  COOR_FEATURE: False